@charset "UTF-8";

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Bold.woff2") format("woff2"), url("../fonts/Lato-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Light.woff2") format("woff2"), url("../fonts/Lato-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Medium.woff2") format("woff2"), url("../fonts/Lato-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Regular.woff2") format("woff2"), url("../fonts/Lato-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Lato;
  font-display: swap;
  src: url("../fonts/Lato-Semibold.woff2") format("woff2"), url("../fonts/Lato-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

/* Указываем box sizing */

html {
  height: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

input:focus-visible {
  outline: none;
}

input::-moz-placeholder {
  color: rgba(51, 53, 76, 0.4);
}

input:-ms-input-placeholder {
  color: rgba(51, 53, 76, 0.4);
}

input::placeholder {
  color: rgba(51, 53, 76, 0.4);
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
  color: #33354C;
  font-size: 18px;
  font-family: Lato;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

body::-webkit-scrollbar {
  width: 0;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.container {
  max-width: 1632px;
  padding-left: 16px;
  padding-right: 16px;
  margin: 0 auto;
}

.title {
  font-weight: 600;
  font-size: 48px;
  text-align: center;
  margin-bottom: 70px;
  text-transform: uppercase;
}

.content {
  padding: 75px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 99;
}

.header__container {
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 196px;
  height: 50px;
  z-index: 1;
}

.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__lang {
  position: relative;
  display: flex;
  align-items: center;
  border: 0.5px solid #ffffff;
  border-radius: 0px 20px 20px 20px;
  z-index: 1;
}

.header__lang-item {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  padding: 8px;
  font-size: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.header__lang-item.active {
  background: #DBE283;
  border-radius: 0px 20px 20px 20px;
  color: #000000;
  pointer-events: none;
}

.header__lang-item:hover {
  color: #DBE283;
}

.header__nav {
  position: absolute;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url("../img/slide-photo-1.jpg") no-repeat;
  background-size: cover;
  transform: translateX(-100vw);
  transition: 0.5s ease-in-out;
  overflow: hidden;
}

.header__nav::-webkit-scrollbar {
  width: 0;
}

.header__nav.active {
  transform: translateX(0);
}

.header__nav::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
}

.header__nav .container {
  height: 100%;
}

.header__nav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.header__nav-title {
  position: relative;
  margin-bottom: 50px;
  z-index: 1;
  font-size: 104px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.87em;
  color: #ffffff;
}

.header__nav-info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.header__nav-col {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  max-width: 401px;
}

.header__nav-subtitle {
  display: flex;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  font-weight: 500;
  color: #ffffff;
}

.header__nav-subtitle img {
  width: 36px;
  height: 36px;
  -o-object-fit: contain;
     object-fit: contain;
}

.header__nav-text {
  color: #ffffff;
  line-height: 120%;
}

.header__nav-text a:hover {
  text-decoration: underline;
}

.header__menu {
  position: absolute;
  z-index: 1;
  top: 50%;
  right: -300px;
  transform: translateY(-50%);
  width: 1350px;
  height: 1350px;
  border-radius: 50%;
}

.header__menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 60px;
  z-index: 1;
  transition: 0.3s ease-in-out;
}

.header__menu-list.main-page {
  transform: translateY(-2%);
}

.header__menu-list.main-page .header__menu-item:nth-child(1) {
  padding-left: 10px;
}

.header__menu-list.main-page .header__menu-item:nth-child(2) {
  padding-left: 10px;
}

.header__menu-list.main-page .header__menu-item:nth-child(3) {
  padding-left: 25px;
}

.header__menu-list.main-page .header__menu-item:nth-child(4) {
  padding-left: 40px;
}

.header__menu-list.main-page .header__menu-item:nth-child(5) {
  padding-left: 70px;
}

.header__menu-list.main-page .header__menu-item:nth-child(6) {
  padding-left: 110px;
}

.header__menu-list.about-page {
  transform: translateY(-21%);
}

.header__menu-list.about-page .header__menu-item:nth-child(1) {
  padding-left: 25px;
}

.header__menu-list.about-page .header__menu-item:nth-child(2) {
  padding-left: 10px;
}

.header__menu-list.about-page .header__menu-item:nth-child(3) {
  padding-left: 15px;
}

.header__menu-list.about-page .header__menu-item:nth-child(4) {
  padding-left: 30px;
}

.header__menu-list.about-page .header__menu-item:nth-child(5) {
  padding-left: 50px;
}

.header__menu-list.about-page .header__menu-item:nth-child(6) {
  padding-left: 80px;
}

.header__menu-list.services-page {
  transform: translateY(-40%);
}

.header__menu-list.services-page .header__menu-item:nth-child(1) {
  padding-left: 30px;
}

.header__menu-list.services-page .header__menu-item:nth-child(2) {
  padding-left: 15px;
}

.header__menu-list.services-page .header__menu-item:nth-child(3) {
  padding-left: 10px;
}

.header__menu-list.services-page .header__menu-item:nth-child(4) {
  padding-left: 15px;
}

.header__menu-list.services-page .header__menu-item:nth-child(5) {
  padding-left: 30px;
}

.header__menu-list.services-page .header__menu-item:nth-child(6) {
  padding-left: 60px;
}

.header__menu-list.project-page {
  transform: translateY(-58%);
}

.header__menu-list.project-page .header__menu-item:nth-child(1) {
  padding-left: 60px;
}

.header__menu-list.project-page .header__menu-item:nth-child(2) {
  padding-left: 30px;
}

.header__menu-list.project-page .header__menu-item:nth-child(3) {
  padding-left: 15px;
}

.header__menu-list.project-page .header__menu-item:nth-child(4) {
  padding-left: 10px;
}

.header__menu-list.project-page .header__menu-item:nth-child(5) {
  padding-left: 15px;
}

.header__menu-list.project-page .header__menu-item:nth-child(6) {
  padding-left: 30px;
}

.header__menu-list.info-page {
  transform: translateY(-77%);
}

.header__menu-list.info-page .header__menu-item:nth-child(1) {
  padding-left: 80px;
}

.header__menu-list.info-page .header__menu-item:nth-child(2) {
  padding-left: 50px;
}

.header__menu-list.info-page .header__menu-item:nth-child(3) {
  padding-left: 30px;
}

.header__menu-list.info-page .header__menu-item:nth-child(4) {
  padding-left: 15px;
}

.header__menu-list.info-page .header__menu-item:nth-child(5) {
  padding-left: 10px;
}

.header__menu-list.info-page .header__menu-item:nth-child(6) {
  padding-left: 25px;
}

.header__menu-list.contacts-page {
  transform: translateY(-96%);
}

.header__menu-list.contacts-page .header__menu-item:nth-child(1) {
  padding-left: 110px;
}

.header__menu-list.contacts-page .header__menu-item:nth-child(2) {
  padding-left: 70px;
}

.header__menu-list.contacts-page .header__menu-item:nth-child(3) {
  padding-left: 40px;
}

.header__menu-list.contacts-page .header__menu-item:nth-child(4) {
  padding-left: 25px;
}

.header__menu-list.contacts-page .header__menu-item:nth-child(5) {
  padding-left: 10px;
}

.header__menu-list.contacts-page .header__menu-item:nth-child(6) {
  padding-left: 10px;
}

.header__menu-item {
  transition: 0.3s ease-in-out;
}

.header__menu-link {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
}

.header__menu-content {
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  width: 600px;
  height: 600px;
  outline: 374px solid rgba(0, 0, 0, 0.25);
}

.header__menu-content::before {
  position: absolute;
  width: 70px;
  height: 8px;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  right: 100%;
  background: url("../img/circle-decor.png") center no-repeat;
  background-size: contain;
}

.header__menu-nav {
  display: none;
}

.header__menu-nav.active {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding-left: 100px;
}

.header__menu-nav .menu__item a {
  color: #ffffff;
  transition: 0.2s ease-in-out;
  position: relative;
}

.header__menu-nav .menu__item a::before {
  position: absolute;
  content: "";
  left: 0;
  top: 105%;
  width: 0;
  height: 1px;
  background-color: #DBE283;
  transition: 0.2s ease-in-out;
}

.header__menu-nav .menu__item a:hover::before {
  width: 100%;
}

.header__menu-nav .menu__item a:hover {
  color: #DBE283;
}

.header__menu-map {
  display: none;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
}

.header__menu-map.active {
  display: block;
}

.burger {
  position: relative;
  z-index: 1;
}

#nav-icon2 {
  width: 30px;
  height: 25px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 50%;
  background: #ffffff;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 49%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left: 1px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1),
#nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3),
#nav-icon2 span:nth-child(4) {
  top: 10px;
}

#nav-icon2 span:nth-child(5),
#nav-icon2 span:nth-child(6) {
  top: 20px;
}

#nav-icon2.open span:nth-child(1),
#nav-icon2.open span:nth-child(6) {
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),
#nav-icon2.open span:nth-child(5) {
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 3px;
  top: 5px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 3px);
  top: 5px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 3px;
  top: 14px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 3px);
  top: 14px;
}

.footer {
  background: #33354C;
}

.footer__container {
  padding: 45px 0 25px 0;
  display: flex;
  flex-direction: column;
}

.footer__top {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.footer__logo {
  width: 122px;
  height: 85px;
}

.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.footer__nav {
  margin-left: auto;
  margin-right: auto;
}

.footer__nav-list {
  display: flex;
  align-items: center;
}

.footer__nav-item:not(:last-child) {
  margin-right: 50px;
}

.footer__nav-link {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  transition: 0.2s ease-in-out;
}

.footer__nav-link:hover {
  color: #F54558;
}

.footer__bot {
  display: flex;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.5);
}

.footer__ast {
  transition: 0.2s ease-in-out;
}

.footer__ast:hover {
  color: #F54558;
}

.hero {
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.hero__slider {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
}

.hero__slider .slick-list,
.hero__slider .slick-track {
  height: 100%;
}

.hero__slider-one {
  height: 2000px;
}

.hero__slider-one .hero__slider-item.current-animate img {
  -webkit-animation: slideRotateDefaultBig 1.5s ease-in-out forwards;
          animation: slideRotateDefaultBig 1.5s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hero__slider-one .hero__slider-item.slick-active img {
  -webkit-animation: slideRotateBig 1.5s ease-in-out forwards;
          animation: slideRotateBig 1.5s ease-in-out forwards;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.hero__slider-two {
  width: 1400px;
  height: 1400px;
}

.hero__slider-two .hero__slider-item {
  border-radius: 50%;
  overflow: hidden;
}

.hero__slider-two .hero__slider-item.current-animate img {
  -webkit-animation: slideRotateDefault 1.5s ease-in-out forwards;
          animation: slideRotateDefault 1.5s ease-in-out forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.hero__slider-two .hero__slider-item.slick-active img {
  -webkit-animation: slideRotate 1.5s ease-in-out forwards;
          animation: slideRotate 1.5s ease-in-out forwards;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.hero__slider-two::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.25);
  z-index: 1;
  border-radius: 50%;
  pointer-events: none;
}

.hero__slider-three {
  width: 700px;
  height: 700px;
  z-index: 3;
  border-radius: 50%;
  overflow: hidden;
}

.hero__slider-three .hero__slider-item {
  border-radius: 50%;
  overflow: hidden;
}

.hero__slider-three .hero__slider-item.current-animate img {
  -webkit-animation: slideRotateDefault 1.5s ease-in-out forwards;
          animation: slideRotateDefault 1.5s ease-in-out forwards;
}

.hero__slider-three .hero__slider-item.slick-active img {
  -webkit-animation: slideRotate 1.5s ease-in-out forwards;
          animation: slideRotate 1.5s ease-in-out forwards;
}

.hero__slider-item {
  height: 100%;
  width: 100%;
}

.hero__slider-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}

@-webkit-keyframes slideRotate {
  from {
    transform: rotate(-360deg) scale(3);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

@keyframes slideRotate {
  from {
    transform: rotate(-360deg) scale(3);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

@-webkit-keyframes slideRotateDefault {
  from {
    transform: rotate(0) scale(1);
  }

  to {
    transform: rotate(180deg) scale(3);
  }
}

@keyframes slideRotateDefault {
  from {
    transform: rotate(0) scale(1);
  }

  to {
    transform: rotate(180deg) scale(3);
  }
}

@-webkit-keyframes slideRotateDefaultBig {
  from {
    transform: rotate(0) scale(1);
  }

  to {
    transform: rotate(180deg) scale(5);
  }
}

@keyframes slideRotateDefaultBig {
  from {
    transform: rotate(0) scale(1);
  }

  to {
    transform: rotate(180deg) scale(5);
  }
}

@-webkit-keyframes slideRotateBig {
  from {
    transform: rotate(-180deg) scale(7);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

@keyframes slideRotateBig {
  from {
    transform: rotate(-180deg) scale(7);
  }

  to {
    transform: rotate(0) scale(1);
  }
}

@media (max-width: 1650px) {
  .container {
    max-width: 1400px;
  }

  .title {
    font-size: 42px;
    margin-bottom: 50px;
  }

  .content {
    padding: 50px 0;
  }

  .header__nav-title {
    font-size: 80px;
    letter-spacing: 0.4em;
  }

  .header__nav-subtitle {
    font-size: 16px;
  }

  .header__nav-text {
    font-size: 16px;
  }

  .header__menu-list {
    left: 130px;
    row-gap: 30px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(5) {
    padding-left: 60px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(6) {
    padding-left: 90px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(5) {
    padding-left: 40px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(6) {
    padding-left: 70px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(1) {
    padding-left: 70px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(2) {
    padding-left: 40px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(1) {
    padding-left: 80px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(2) {
    padding-left: 50px;
  }

  .header__menu-link {
    font-size: 16px;
  }

  .header__menu-content {
    outline: 270px solid rgba(0, 0, 0, 0.25);
  }
}

@media (max-width: 1650px) and (max-width: 1200px) {
  .header__menu-list.main-page .header__menu-item:nth-child(5) {
    padding-left: 40px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(6) {
    padding-left: 60px;
  }
}

@media (max-width: 1450px) {
  .container {
    max-width: 1200px;
  }

  .title {
    font-size: 38px;
  }

  .header__nav-title {
    font-size: 60px;
    margin-bottom: 30px;
  }

  .header__nav-col {
    max-width: 300px;
  }

  .header__menu {
    right: -350px;
  }
}

@media (max-width: 1300px) {
  .container {
    max-width: 1100px;
  }

  .title {
    font-size: 36px;
    margin-bottom: 30px;
  }

  .header__logo {
    width: 176px;
    height: 44px;
  }

  .header__lang-item {
    width: 30px;
    height: 30px;
    font-size: 14px;
    padding: 6px;
  }

  .header__nav-info {
    row-gap: 15px;
  }

  .header__nav-col {
    row-gap: 10px;
  }

  .header__nav-subtitle img {
    width: 26px;
    height: 26px;
  }

  .header__nav-subtitle {
    row-gap: 10px;
    font-size: 14px;
  }

  .header__nav-text {
    font-size: 14px;
  }

  .header__menu {
    width: 1200px;
    height: 1200px;
  }

  .header__menu-link {
    font-size: 14px;
  }

  .header__menu-content {
    width: 450px;
    height: 450px;
  }

  .header__menu-nav .menu__item a {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .container {
    max-width: 980px;
  }

  .title {
    font-size: 32px;
  }

  .header__menu {
    width: 1000px;
    height: 1000px;
    right: -300px;
  }

  .header__menu-list {
    left: 150px;
    row-gap: 20px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(1) {
    padding-left: 5px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(2) {
    padding-left: 5px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(3) {
    padding-left: 10px;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(4) {
    padding-left: 20px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(1) {
    padding-left: 10px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(2) {
    padding-left: 5px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(3) {
    padding-left: 10px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(4) {
    padding-left: 15px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(5) {
    padding-left: 25px;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(6) {
    padding-left: 45px;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(1) {
    padding-left: 20px;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(2) {
    padding-left: 10px;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(3) {
    padding-left: 5px;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(4) {
    padding-left: 10px;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(5) {
    padding-left: 20px;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(6) {
    padding-left: 40px;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(1) {
    padding-left: 35px;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(2) {
    padding-left: 20px;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(3) {
    padding-left: 10px;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(4) {
    padding-left: 5px;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(5) {
    padding-left: 10px;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(6) {
    padding-left: 25px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(1) {
    padding-left: 40px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(2) {
    padding-left: 25px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(3) {
    padding-left: 15px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(4) {
    padding-left: 10px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(5) {
    padding-left: 5px;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(6) {
    padding-left: 10px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(1) {
    padding-left: 55px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(2) {
    padding-left: 35px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(3) {
    padding-left: 20px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(4) {
    padding-left: 10px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(5) {
    padding-left: 5px;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(6) {
    padding-left: 5px;
  }

  .header__menu-content {
    width: 350px;
    height: 350px;
    outline: 200px solid rgba(0, 0, 0, 0.25);
  }

  .header__menu-content::before {
    width: 50px;
  }

  .header__menu-nav.active {
    padding-left: 50px;
  }
}

@media (max-width: 992px) {
  body {
    font-size: 16px;
  }

  .title {
    font-size: 28px;
  }

  .header__nav-container {
    justify-content: flex-start;
    padding-top: 70px;
  }

  .header__nav-title {
    font-size: 42px;
    margin-bottom: 10px;
  }

  .header__menu {
    width: 600px;
    height: 400px;
    bottom: 50px;
    top: auto;
    transform: unset;
    right: -100px;
  }

  .header__menu-list {
    left: -50px;
  }

  .header__menu-link {
    font-size: 12px;
  }

  .header__menu-nav .menu__item a {
    font-size: 14px;
  }

  .footer__top {
    flex-direction: column;
    row-gap: 30px;
  }
}

@media (max-width: 992.9px) {
  .container {
    width: 100%;
    max-width: none;
  }
}

@media (max-width: 768px) {
  .title {
    font-size: 26px;
  }

  .header__nav-info {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 3;
  }

  .header__nav-col {
    width: 48%;
  }

  .header__menu-list {
    left: 16px;
  }

  .header__menu-content {
    width: 300px;
    height: 300px;
    outline: 170px solid rgba(0, 0, 0, 0.25);
  }

  .footer__nav-list {
    flex-direction: column;
    row-gap: 30px;
  }

  .footer__nav-item:not(:last-child) {
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .header__nav-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .header__menu {
    right: 0;
    width: 100%;
    transform: unset;
  }

  .header__menu-list.main-page .header__menu-item:nth-child(1) a {
    color: #DBE283;
  }

  .header__menu-list.about-page .header__menu-item:nth-child(2) a {
    color: #DBE283;
  }

  .header__menu-list.services-page .header__menu-item:nth-child(3) a {
    color: #DBE283;
  }

  .header__menu-list.project-page .header__menu-item:nth-child(4) a {
    color: #DBE283;
  }

  .header__menu-list.info-page .header__menu-item:nth-child(5) a {
    color: #DBE283;
  }

  .header__menu-list.contacts-page .header__menu-item:nth-child(6) a {
    color: #DBE283;
  }

  .header__menu-list {
    transform: translateY(-2%) !important;
  }

  .header__menu-list .header__menu-item {
    padding-left: 0 !important;
  }

  .header__menu-content {
    outline: 0;
    left: 70%;
    top: 70%;
  }

  .header__menu-nav.active {
    padding-left: 20px;
  }

  .footer__bot {
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
  }
}

@media (max-width: 480px) {
  .content {
    padding: 40px 0;
  }

  .header__menu-content {
    width: 200px;
    height: 200px;
  }

  .header__menu-content::before {
    width: 45px;
  }
}

@media (max-width: 420px) {
  .header__logo {
    width: 140px;
    height: 34px;
  }

  .header__nav-text {
    font-size: 12px;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}